*{
    margin: 0;
    padding: 0;


}
nav{
    background-color: cornflowerblue;
    display: flex;
    justify-content: space-around;
    padding: 10px 5px;
}
nav a{
    color:white;
    text-decoration: none;
    
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 600px;
}
@media(max-width: 412px){
    nav, nav ul{
        flex-direction: column;
        align-items: center;
    }
}

